* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-size: 62.5%;
  }

.wrapper {
    display: flex;
    flex-direction: column;
}
/*
    Landscape Elements
*/
.skybox {
    background-image: linear-gradient(180deg, #0164d4, #168ddd);
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.skybox.dark {
    background-image: linear-gradient(180deg, #0e081f, #352c5c);
}

.ground {
    background-image: linear-gradient(180deg, #0a5f00, #13b100);
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ground.dark {
    background-image: linear-gradient(180deg, #021600, #052e00);
}

/*
    Sun and Moon
*/
.sun,
.moon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 10%;    
    transition: all 2s;
    transition-timing-function: cubic-bezier(0.1, 0.9, 0.95, 1);
}

.sun {
    background-color: yellow;
    left: 10%;
}

.moon {
    background-color: #c3c3c3;
    right: 10%;
}

.sun.inactive,
.moon.inactive {
    top: 40%;
    z-index: -5;
}

/* 
    House
*/
.house {
    position: relative;
    height: 20rem;
    width: 30rem;
    background-color: brown;
}

.roof {
    position: absolute;
    border: 200px solid transparent;
    border-bottom-color: black;
    bottom: 160px;
    right: -50px;
}

/* 
    Clock
*/
.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 8rem;
    color: #fff;
}

.date {
    font-size: 2rem;
    color: #fff;
}

